  <br>
    <div class="row">
        <form class="col s12">


            <div class="row">            
                <div class="col s12">
                  <p id="descrcao">Descrição
                    <label style="margin-left: 2em; float: right" for="filled-in-box">Manipular</label>
                    <label style="margin-left: 2em; float: right" for="filled-in-box">Listar</label>
                  </p> <hr>
                </div>
              </div>

            
              <div class="row">   
                        
                  <div class="col s12">
                      <h6>Configurações</h6> 
                    <p>Usuários
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr>
                      <p>Grupos de Permissões
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr>
                    <p>Unidades
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                    <p>Canais
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                    <p>Gerenciador de Arquivos
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                    <p>Agendamentos
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                  </div>
              </div>

            
              <div class="row"> 
                          
                  <div class="col s12">
                      <h6>Cursos</h6> 
                    <p>Cursos
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr>
                      <p>Mtrículas
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr>
                    <p>Turmas
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                   
                  </div>
              </div>


          <div class="row">  
                      
              <div class="col s12">
                  <h6>Aprendizes</h6>
                <p>Jovens
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                </p> <hr>
                <p>Cursos IPP
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                </p> <hr>
                <p>Escolaridade
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                </p> <hr> 
                <p>Situação Laboral
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                </p> <hr> 
                <p>Características Domiciliares
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                </p> <hr> 
                <p>Habilidades
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                </p> <hr> 
                <p>Situação de Saúde
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr>
                  <p>Ficha Social
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr>
                  <p>Ficha Profissional
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr> 
                  <p>Históricos
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr> 
                  <p>Dados Financeiros
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr> 
              </div>
          </div>

            <div class="row">        
                 
                <div class="col s12">
                    <h6>Frequências</h6> 
                  <p>PIT e PIP
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr>
                    <p>PAP
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr>
                  <p>PIO
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr> 
                  <p>Aulas Extras
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                  </p> <hr> 
           
                </div>
            </div>

            
              <div class="row">            
                
                  <div class="col s12">
                      <h6>Empresas</h6>
                    <p>Empresas
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr>
                      <p>Gestores
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr>
                    <p>Setores
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                    <p>Históricos
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /><label style="margin-left: 2em; float: right" for="filled-in-box"></label>
                    </p> <hr> 
                    
                  </div>
              </div>     
              
              <button class="btn waves-effect waves-light right" type="submit">
                Salvar<i class="material-icons right">send</i>
              </button>

        </form>
    </div>
            