<div class="row">
  <div class="col s12">
    <h1>Criar Conta</h1>
  </div>
</div>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Nome" type="text" class="validate" [(ngModel)]="user.name" name="name">
        <label for="first_name">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="email" class="validate" [(ngModel)]="user.email" name="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" [(ngModel)]="user.username" name="username">
        <label for="email">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="password" class="validate" [(ngModel)]="user.password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn-large" (click)="signup()">
        Criar
      </a>
    </div>
  </form>
</div>
