.tabs .tab a{
    color:#222;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#222;
}

table {

}
thead {

}
tr {

}
th {

}
tbody {

}
tr {

}
td {}
a {}
table > tbody > tr > td > a > i {
    color: orange;
}

.nav-wrapper {
    opacity: 100.0;
}
.breadcrumb {
    color: #222;
}