<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s9">
          <h5 class="grey-text">IPP</h5>
          <p class="grey-text">Instituto Profissionalizante Paulista</p>
        </div>
        <div class="col s3">
          <h5 class="grey-text">Navegação</h5>
          <ul>
              <li><a routerLink="/configuracoes" routerLinkActive="active">Configurações</a></li>
              <li><a routerLink="/cursos" routerLinkActive="active">Cursos</a></li>
              <li><a routerLink="/aprendizes" routerLinkActive="active">Aprendizes</a></li>
              <li><a routerLink="/" routerLinkActive="active"><br>Frequências</a></li>
              <li><a routerLink="/tables" routerLinkActive="active">Empresas</a></li>
              <li><a routerLink="/events" routerLinkActive="active">Financeiro</a></li>
              <li><a routerLink="/login" routerLinkActive="active"><i class="material-icons" style="color: #222 !important;">exit_to_app</i></a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text" style="text-align:center">
      © 2018 Copyright Todos os direitos reservados.
      <a class="grey-text right" href="#!"></a>
      </div>
    </div>
  </footer>