<div class="row">
    <form class="col s12">
        <hr>
        <h5>Gerenciador de Arquivos</h5>
        <br><br>
      <div class="row">         
          <div class="file-field input-field s12 col l12">
              <div class="btn s12 col l1">
                  <span>Arquivo</span>
                  <input type="file" multiple>
              </div>              
              <div class="file-path-wrapper s12 col l11">
                <input class="file-path validate" type="text" placeholder="Upload um ou mais arquivos">
              </div>
            </div>
            <div class="input-field s12 col l3">
                <select>
                  <option value="" disabled selected>Localização</option>
                  <option value="1">JOVENS</option>
                  <option value="2">USUARIOS</option>
                  <option value="2">BANCOS</option>
                </select>
                <label></label>
          </div>
      </div>
      <br><br>
      <button class="btn waves-effect waves-light right" type="submit">
          Salvar<i class="material-icons right">send</i>
        </button>
    </form>
  </div>

  <br><br><br><br><br><br><br>          