<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12" style="text-align: center">          
            <img src="./assets/images/ipp-logo.png" alt="" width="250em" />
        </div>       
        </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text" style="text-align:center">
      © 2018 Copyright Todos os direitos reservados.
      <a class="grey-text right" href="#!"></a>
      </div>
    </div>
  </footer>