
<nav class="white" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img width="133em" id="logo" src="../../assets/images/ipp-logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/configuracoes" routerLinkActive="active">Configurações</a></li>
        <li><a routerLink="/" routerLinkActive="active">Cursos</a></li>
        <li><a routerLink="/" routerLinkActive="active">Aprendizes</a></li>
        <li><a routerLink="/" routerLinkActive="active">Frequências</a></li>
        <li><a routerLink="/" routerLinkActive="active">Empresas</a></li>
        <li><a routerLink="/" routerLinkActive="active">Financeiro</a></li>
        <li><a routerLink="/login" routerLinkActive="active"><i class="material-icons" style="color: #222 !important;">exit_to_app</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a routerLink="/configuracoes" routerLinkActive="active">Configurações</a></li>
        <li><a routerLink="/" routerLinkActive="active">Cursos</a></li>
        <li><a routerLink="/" routerLinkActive="active">Aprendizes</a></li>
        <li><a routerLink="/" routerLinkActive="active">Frequências</a></li>
        <li><a routerLink="/" routerLinkActive="active">Empresas</a></li>
        <li><a routerLink="/" routerLinkActive="active">Financeiro</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons" style="color: #222 !important;">menu</i></a>
    </div>
  </nav>