  

 <div class="row">
        <form class="col s12">
            <hr>
            <h6>Representantes</h6>
          <div class="row">
            <div class="input-field col s12">
              <div class="row">               

                <div class="input-field col l6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Nome</label>
                </div>
                <div class="input-field col l3">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">RG</label>
                </div>
                <div class="input-field col l3">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">CPF</label>
                </div>
                
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <div class="row">                  

                <div class="input-field col l3">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Cargo</label>
                </div>
                <div class="input-field col l6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">E-mail</label>
                </div>
                <div class="input-field col l3">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Telefone</label>
                </div>
                
              </div>
            </div>
          </div>

                  <button class="btn waves-effect waves-light right" type="submit">
                    Salvar<i class="material-icons right">send</i>
                  </button>

        </form>
      </div>