<div class="row">
    <form class="col s12">
        <hr>
        <h5>Canal</h5>
      <div class="row">         
        <div class="input-field s12 col l12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Nome</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light right" type="submit">
          Salvar<i class="material-icons right">send</i>
        </button>
    </form>
  </div>

  <br><br><br><br><br><br><br>