
              
  <div class="row">
    <form class="col s12">
      <hr>
        <h5>Unidade</h5>
      <div class="row">
        <div class="input-field col s12">
          <div class="row">
            <div class="input-field s12 col l6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Nome Fantazia</label>
            </div>
            <div class="input-field s12 col l2">
                <select>
                  <option value="" disabled selected>Unidade</option>
                  <option value="1">Unidade 01</option>
                  <option value="2">Unidade 02</option>
                  <option value="2">...</option>
                </select>
                <label></label>
            </div>
            <div class="input-field s12 col l3">
                <input id="last_name" type="text" class="validate datepicker" placeholder="Data de Cadastro">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Razão Social</label>
          </div>
      </div>

        <div class="row">
            <div class="input-field col l12">
              <div class="row">                  
                  
                <div class="input-field s12 col l4">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">CNPJ</label>
                </div>
                <div class="input-field s12 col l6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Endereço</label>
                </div>
                <div class="input-field s12 col l2">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Número</label>
                </div>
                
              </div>
            </div>
          </div>
      
          <div class="row">
              <div class="input-field col s12">
                <div class="row">                  
                  
                  <div class="input-field s12 col l2">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Complemento</label>
                  </div>
                  <div class="input-field s12 col l2">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">CEP</label>
                  </div>
                  <div class="input-field s12 col l3">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Bairro</label>
                  </div>
                  <div class="input-field s12 col l2">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Estado</label>
                  </div>
                  <div class="input-field s12 col l3">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Cidade</label>
                  </div>

                  <div class="input-field s12 col l3">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Telefone</label>
                  </div>
                  <div class="input-field s12 col l3">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">E-mail</label>
                  </div>
                  <div class="input-field s12 col l3">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Fax</label>
                  </div>
                  <div class="input-field s12 col l3">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Status</label>
                  </div>
                  
                </div>
              </div>
            </div>

              <button class="btn waves-effect waves-light right" type="submit">
                Salvar<i class="material-icons right">send</i>
              </button>

    </form>
  </div>

  <app-contato-form></app-contato-form>
  <app-contatos></app-contatos>

  <app-representante-form></app-representante-form>
  <app-representantes></app-representantes>


