nav {
}
.container {

}
.nav-wrapper {

}
.brand-logo {
}
#logo {
    padding-top: 0.2em;
}
#nav-mobile {
    
}
ul {

}
li {

}
ul > li > a {
    color: #222;
}
ul > li > a:visited {
    color: pink;
    border-bottom: 1em solid orange;
}