  

 <div class="row">
    <form class="col s12">
        <hr>
        <h6>Agendamento</h6>
      <div class="row">
        <div class="input-field col s12">
          <div class="row">               

            <div class="input-field s12 col l3">
                <input id="last_name" type="text" class="validate datepicker" placeholder="Data do Evento">
            </div>
            <div class="input-field s12 col l3">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Hora</label>
            </div>
            <div class="input-field s12 col l3">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Tempo Previsto</label>
            </div>
            <div class="input-field s12 col l3">
                <input id="last_name" type="text" class="validate datepicker" placeholder="Data de Criação">
            </div>
            
          </div>
        </div>
      </div>

      <div class="row">
            <div class="input-field s12  col l12">
              <div class="row">                  
                <div class="input-field s12  col l12">
                   <textarea id="textarea1" class="materialize-textarea"></textarea>
                   <label for="textarea1">Textarea</label>
                </div>                  
              </div>
            </div>
          </div>

              <button class="btn waves-effect waves-light right" type="submit">
                Salvar<i class="material-icons right">send</i>
              </button>

    </form>
  </div>