<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a href="#usuarios">Usuários</a></li>
        <li class="tab col s2"><a href="#permissoes">Permissões</a></li>
        <li class="tab col s2"><a href="#unidades">Unidades</a></li>
        <li class="tab col s2"><a href="#canais">Canais</a></li>
        <li class="tab col s2"><a href="#arquivos">Arquivos</a></li>
        <li class="tab col s2"><a href="#agendamentos">Agendamentos</a></li>
      </ul>
    </div>
    <div id="usuarios" class="col s12">
        <div class="row">
            <app-usuarios></app-usuarios>           
        </div>
    </div>
    <div id="permissoes" class="col s12">
       <app-grupos-permissoes></app-grupos-permissoes>
    </div>
    <div id="unidades" class="col s12">
       <app-unidades></app-unidades>
    </div>  
    <div id="canais" class="col s12">
        <app-canais></app-canais>
    </div> 
    
    <div id="arquivos" class="col s12">
        <app-arquivos></app-arquivos>
    </div>  
    
    <div id="agendamentos" class="col s12">
        <app-agendamentos></app-agendamentos>
    </div>
  </div>

