<br /><br /><br /><br />
<div class="row">
    <div id="test1" class="col s12">
      
        <table>
            <thead>
            <tr>
              <th data-field="name">Name</th>
              <th data-field="name">Email</th>
              <th data-field="name">Edit</th>
              <th data-field="name">Delete</th>
            </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                  <a [routerLink]="['/users', user.id]">
                    <i class="material-icons">mode_edit</i>
                  </a>
                </td>
                <td>
                  <a (click)="deleteUser(user)" href="">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
<p>
  Displaying {{ users.length }} users.
</p>



<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light orange"
     routerLink="/users/create">
    <i class="material-icons">add</i>
  </a>
</div>


<br /><br /><br /><br />