<table datatable class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>CARGO</th>
            <th class="td-icon">TELEFONE</th>
            <th class="td-icon">STATUS</th>
            <th class="td-icon">EDITAR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Adriano</td>
            <td>adriano@email.test</td>
            <td>VENDEDOR(A)</td>
            <td class="td-icon">11 879 546 213</td>
            <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#usuario">
    <i class="material-icons" >border_color</i></a>
        </td>
          </tr>
          <tr>
              <td>2</td>
              <td>Carlos</td>
              <td>carlos@email.test</td>
              <td>ORIENTADOR(A)</td>
              <td class="td-icon">19 859 859 859</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>3</td>
              <td>Suzan</td>
              <td>suzan@email.com</td>
              <td>RECEPCIONISTA</td>
              <td class="td-icon">19 869 536 415</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>4</td>
              <td>Juliana</td>
              <td>juliana@emailtet.net</td>
              <td>VENDEDOR(A)</td>
              <td class="td-icon">17 959 999 668</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>5</td>
              <td>Alessandro</td>
              <td>alessandro@test.br</td>
              <td>ORIENTADOR(A)</td>
              <td class="td-icon">12 789 456 123</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>6</td>
              <td>Gustavo</td>
              <td>gustavo@test.net</td>
              <td>ADMINISTRADOR(A)</td>
              <td class="td-icon">12 989 963 652</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>7</td>
              <td>Beatriz</td>
              <td>beatriz@ipp.net.br</td>
              <td>GERENTE</td>
              <td class="td-icon">11 895 852 654</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>8</td>
              <td>Shelton</td>
              <td>shelton@email.com</td>
              <td>GERENTE</td>
              <td class="td-icon">11 987 951 582</td>
              <td class="td-icon">INATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>9</td>
              <td>Sonia</td>
              <td>sonia@email.com.br</td>
              <td>VENDEDOR(A)</td>
              <td class="td-icon">11 968 523 568</td>
              <td class="td-icon">ATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>10</td>
              <td>Saulo</td>
              <td>saulo@email.com</td>
              <td>ORIENTADOR(A)</td>
              <td class="td-icon">17 999 666 555</td>
              <td class="td-icon">INATIVO</td>
            <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          <tr>
              <td>11</td>
              <td>Antônio</td>
              <td>antonio@teste.com</td>
              <td>VENDEDOR(A)</td>
              <td class="td-icon">11 995 852 741</td>
              <td class="td-icon">ATIVO</td>
              <td class="td-icon"><a href="#"><i class="material-icons">border_color</i></a></td>
            </tr>
          <tr>
              <td>12</td>
              <td>Ranata</td>
              <td>renata@email.com</td>
              <td>ADMINISTRADOR(A)</td>
              <td class="td-icon">11 999 333 777</td>
              <td class="td-icon">ATIVO</td>
              <td class="td-icon"><a href="#">
  <i class="material-icons">border_color</i></a>
        </td>
            </tr>
          
          
        </tbody>
      </table>         
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large waves-effect waves-light orange"
              routerLink="/canais/new">
              <i class="material-icons">add</i>
          </a>
       </div>