<div class="container">
        <div class="row">
            
            <div class="col m12">
   
   <div class="container">
        <div class="section">
                <img class="col s12" src="../assets/images/ipp-logo.png" />
        </div>
            <div class="section">
                <div class="container grey-text">
                    Necessário autenticação!
                </div>
            </div>
        
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        
                <form class="col s12" method="post">
                    <div class='row'>
                    <div class='col s12'>
                    </div>
                    </div>
        
                    <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='email' name='email' id='email' />
                        <label for='email'>Digite seu email</label>
                    </div>
                    </div>
        
                    <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' />
                        <label for='password'>Digite sua senha</label>
                    </div>
                    <label style='float: right;'>
                                        <a href='/' style="color: #ccc !important;"><b>Esqueceu a senha?</b></a>
                                    </label>
                    </div>
        
                    <br />
                    <div class='row'>
                        <div>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo orange'>Entrar</button>
                        </div>  
                    </div>
                </form>
                </div>
            </div>
        </div>
    
    </div>
    </div>
    </div>