<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text"
               [(ngModel)]="curso.name" formControlName="name">
        <label for="name"
               [class.active]="curso.name"
               data-error="name is required and needs to contain at least 3 chars">
          name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">turno</i>
        <input id="turno" type="turno" class="validate"
               [(ngModel)]="curso.turno" formControlName="turno"
               [class.invalid]="form.controls['turno'].touched && !form.controls['turno'].valid">
        <label for="turno"
               [class.active]="curso.turno"
               data-error="Invalid Curso">
          Turno
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
